@keyframes fade {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes scroll-y {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(100%);
    }
}

.animated-circle {
    background-color: #f9af65;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fade 400ms 4s ease-out forwards;
}

.animated-text {
    animation: scroll-y 60s linear infinite;
}
